.app {
    display: flex;
    justify-content: space-around;
    width: 40%;
    margin-left: 30%;
    margin-top: 3%;
}
.calculator {
    background-color: #706C61;
    width: 40%;
    min-width: 200px;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    border-radius: 1.5rem;
    overflow: hidden;
    box-shadow: 5px 5px 20px #0d0d0d;}
.display {
    min-height: 100px;
    padding: 1rem;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    color: #c7f4f1;
    text-align: right;
    flex: 1 1 0%;
}
.display .input {
    font-size: 1rem;
    margin-bottom: 0.5rem;
}
.display .output {
    font-size: 2rem;
    font-weight: 100;
    max-width: 100%;
    width: 100%;
    overflow: auto;
}
.display .operator {
    color: #333333;
}

.display .brackets,
.display .percent {
    color: #c7f4f1;
}

.keys {
    background-color: #c7f4f1;
    padding: 1.5rem;
    border-radius: 1.5rem 1.5rem 0 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 1rem;
    box-shadow: 0px -2px 16px rgba(0, 0, 0, 0.2);
}
.keys .key {
    position: relative;
    cursor: pointer;
    display: block;
    flex: 1 1 0%;
    height: 0;
    padding-top: 100%;
    background-color: #333333;
    border-radius: 1rem;
    transition: 0.2s;
    user-select: none;
}
.keys .key span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1rem;
    font-weight: 100;
}
.keys .key:hover {
    box-shadow: inset 0px 0px 8px rgba(0, 0, 0, 0.2 );
}
.keys, .key, .operator span{
    color: #FF7171;
}
.keys, .key, span{
    color: white;
}

.appWrap {
    display: flex;
    flex-direction: column;
    background-image: url(ny.avif);
    min-width: 200px;
    min-height: 370px;
    margin-left: 15%;
    border-radius: 1.5rem;
    box-shadow: 5px 5px 20px #0d0d0d;

}
.dataContainer{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    margin-top: 20%;
}
.searchBox {
    width: 75%;
    max-width: 100%;
    padding: 10px 15px;
    border-radius: 16px 0px 16px 0px;
    border-bottom: 1px solid #c7f4f1;
    color: #c7f4f1;
    outline: none;
    transition: 0.2s ease-out;
}
.searchBox::placeholder {
    color: #0d0d0d;
    font-size: 17px;
}
.mainClass {
    flex: 1 1 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.location .city {
    color: #0d0d0d;
    text-shadow:5px 5px 20px #c7f4f1;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 5px;
}
.location .date {
    font-size: 20px;
}
.current .temp {
    font-size: 35px;
    margin: 10px 0px;
    font-weight: 600;
}


.container-countdown {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 15%;
    min-width: 200px;
    min-height: 370px;
    border-radius: 1.8rem;
    box-shadow: 5px 5px 20px #0d0d0d;
    color: #0d0d0d;
    background-image: url(phone.jpg);
    background-size: cover;
    opacity: 0.8;

}
.timeCont {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#btnStart {
    font-size: 30px;
    cursor: pointer;
    color: #FFFFFF;
}
.timeCont {
    display: flex;
    justify-content: center;
}
.numbers {
    font-size: 60px;
    color: #333333;
}


.newTimesContainer{
    display: flex;
    justify-content:space-around;
    margin-left: 15%;
    background-image: url(pic.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 1.8rem;
    box-shadow: 5px 5px 20px #0d0d0d;    
}
.datePage{
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    text-align: center;
    width: 50%;
    min-width: 350px;
}
.title{
    color: black;
    font-size: 25px;
    font-weight: 900;
    padding: 7px;
    border-radius: 10px;
}
.article, .location, .publishDate {
    color: #0d0d0d;
}
.secondTitle{
    color: #0d0d0d;
    font-size: 20px;
}
.changeNews {
    background-color: #E1F4F3;
    color: #0d0d0d;
    border-radius: 20px;
    margin-bottom: 20px;
    width: 50%;
    padding: 5px;
    font-size: 20px;
    cursor: pointer;
    margin-left: 25%;
}
.changeNews:hover {
    background-color: #8b8985;
    color: #c7f4f1;
}












body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #333333;
    color: #FFFFFF;
    font-family: 'Nunito Sans', sans-serif;
}
header{
    padding: 2rem 1rem;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}
.majorlHead {
    display: flex;
    justify-content: center;
}
h1{
    font-size: 2.5rem;
    color: #706C61;
}
.newTasksForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
}
input, button{
    margin-top: 10%;
    appearance: none;
    border: none;
    outline: none;
    background: none;
    font-family: 'Nunito Sans', sans-serif;
}
#newTaskInput{
    flex: 1 1 0%;
    background-color: #706C61;
    color: #FFFFFF;
    padding: 1rem;
    border-radius: 1rem;
    margin-right: 1rem;
    width: 400px;
    font-size: 1.25rem;
    font-family: 'Nunito Sans', sans-serif;
}
#newTaskInput::placeholder {
    color: #FFFFFF;
}
#taskSubmit{
    font-size: 1.25rem;
    background-image: linear-gradient(90deg, rgba(51,51,51,1) 0%, rgba(199,244,241,1) 67%, rgba(255,255,255,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
    transition: 0.4s;
}
#taskSubmit:hover{
    opacity: 0.8;
}
#taskSubmit:active{
    opacity: 0.6;
}
main{
    flex: 1 1 0%;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}
.taskList{
    padding: 1rem;
}
h2{
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #706C61;
}
#tasks .task{
    display: flex;
    justify-content: space-between;
    background-color: #706C61;
    padding: 1rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
}
#tasks .task .content .text{
    color: #FFFFFF;
    font-size: 1.125rem;
    width: 100%;
    display: block;
    transition: 0.4s;
}
#tasks .task .content .text:not(:read-only) {
    color:#E1F4F3;
}
#tasks .task .actions {
    display: flex;
    margin: 0 -0.5rem;
}
.task .actions button{
    cursor: pointer;
    margin: 0 0.5rem;
    font-size: 1.125rem;
    text-transform: uppercase;
    transition: 0.4s;
}
#task .actions button:hover{
    opacity: 0.8;
}
#task .actions button:active{
    opacity: 0.6;
}
.task .actions .edit{
    background-color: #c7f4f1;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;;
}
.task .actions .delete{
    color: #E1F4F3;
}


